ERP/Core.Erp.Data/Service References/WSTecnologicoATS/WsTecno1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tx_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ced_ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_tipoDoc" type="xs:int" />
        <xs:element minOccurs="0" name="_id_cliente" type="xs:int" />
        <xs:element minOccurs="0" name="_clave" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nu_doc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tx_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ced_ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fe_autorizacion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nu_autorizacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nu_docsustento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tx_xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_total" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDocumentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>